
<div block-bind="content">
	<div class="row">
		<div class="col-md-8">
			<h3 id="textheader" class="title ">Thông Tin Đơn Vị</h3>
		</div>
		<div class="col-md-4">
			<div block-bind="toolbar" class="text-right margin-top-20"></div>
		</div>
	</div>
	
	
		<div class="row">
			<div class="col-md-6">
                <div class="form-group">
                  <label>Mã Đơn Vị</label>
                  <input autofocus type="text" data-bind="value:ma" placeholder="Nhập mã đơn vị" class="form-control">
                </div>
                <div class="form-group">
                  <label>Tên Đơn Vị</label>
                  <input  type="text" data-bind="value:ten" placeholder="Nhập tên đơn vị" class="form-control">
                </div>
                <div class="form-group">
                  <label>Cấp trên</label>
                  <input  type="text" data-bind="dict:captren" placeholder="" class="form-control">
                </div>
                <div class="form-group">
                  <label>Tuyến đơn vị</label>
                  <input  type="text" data-bind="dict:tuyendonvi" placeholder="" class="form-control">
                </div>
                <div class="form-group">
                  <label>Số điện thoại</label>
                  <input  type="text" data-bind="value:sodienthoai" placeholder="nhập số điện thoại" class="form-control">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input  type="text" data-bind="value:email" placeholder="Nhập email" class="form-control">
                </div>
                
           </div>
           <div class="col-md-6">
                <div class="form-group">
                  <label>Tỉnh thành</label>
                  <input type="text" data-bind="dict:tinhthanh" placeholder="" class="form-control">
                </div>
                <div class="form-group">
                  <label>Quận Huyện</label>
                  <input type="text" data-bind="dict:quanhuyen" placeholder="" class="form-control">
                </div>
                <div class="form-group">
                  <label>Xã Phường</label>
                  <input type="text" data-bind="dict:xaphuong" placeholder="" class="form-control">
                </div>
                <div class="form-group">
                  <label>Địa chỉ</label>
                  <textarea  rows="2" data-bind="value:diachi" placeholder="Nhập địa chỉ" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <label>Ghi chú</label>
                  <textarea  rows="2" data-bind="value:ghichu" placeholder="nhập ghi chú" class="form-control"></textarea>
                </div>
          </div>
       </div>
	
	
	<div class="row" id="users">
		<div class="col-md-11" style="margin: auto">
		<hr>
			<div class="form-group">
				<label>Danh sách người dùng</label>
			</div>
			<div data-bind="list:users"></div>
		</div>
	</div>
</div>
