[Unit]
Description=MoiTruongYTe daemon
After=network.target

[Service]
PIDFile=/var/run/gunicorn/moitruongyte.pid
User=gonner
Group=gonner
RuntimeDirectory=moitruongyte_live
WorkingDirectory=/opt/deploy/moitruongyte_live/repo/
ExecStart=/opt/deploy/moitruongyte_live/bin/python manage.py run
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
