<style type="text/css">
	.sd {
		width: 6%;
	}
	.sd2 {
		width: 15%;
	}
</style>
<div style="margin-top: 30px;" class="panel panel-default">
	<div class="panel-heading"><h4>Tiến độ thực hiện vệ sinh toàn xã</h4></div>
	<!-- <div style="margin-left: 16px; margin-top: 20px" block-bind="toolbar"></div> -->
	<div style="margin-left: 26px; margin-right: 20px; text-align: left;" block-bind="content">
		
		<div class="row" style=" margin-top: 20px">
			<div class="form-group col-md-6">
				<label>Năm đánh giá:</label>
				<input id="namdanhgia" type="text" placeholder="YYYY" class="form-control" >
			</div>
			<div class="col-md-6 form-group">
				<label>Kỳ đánh giá:</label>
				<input id="kydanhgia" type="text" class="form-control">
			</div>
			
			<div id="tinhthanh" class="col-md-6 form-group " style="display:none;">
				<label>Chọn Tỉnh/Thành phố</label>
				<input  type="text" class="form-control">
			</div>
			<div class="col-md-6 form-group">
				<button id="search" class="btn btn-success">Tìm kiếm</button>
			</div>
		</div>
	
		<div class="row">
			<table  class="table-align">
				<thead >
					<tr>
						<th  class="top sd2" >Tên Tỉnh</th>
						<th  class="top sd2" >Tên Huyện</th>
						<th  class="top sd2" >Tên Xã</th>
						<th  class="top sd">% HGĐ có nhà tiêu cải thiện</th>
						<th  class="top sd">Tỷ lệ % HGĐ có điểm rửa tay</th>
						<th  class="top sd">% Trường học có nước sạch và nhà tiêu HVS</th>
						<th  class="top sd">Tổng số học sinh</th>
						<th  class="top sd">% Trạm y tế có nước sạch và nhà tiêu HVS</th>
						<th  class="top sd">Tổng số Hộ gia đình trong xã</th>
						<th  class="top sd">Tổng dân số của xã</th>
						<th  class="top sd">% Hộ gia đình có chủ hộ là nữ</th>
						<th  class="top sd">% Hộ gia đình là DTTS</th>
					</tr>
				</thead>
				<tbody id="danhsachdonvi"></tbody>
				<tfoot id="tongcongi"></tfoot>
			</table>
		</div>

		<div>
			<div class="text-justify">Ghi chú: (3) theo tổng từng thôn,
				(4) số hộ DTTS: tổng số hộ DTTS, (5) tổng số hộ nghèo, (12)&(13)
				theo tổng số từng thôn, (14) và (15) áp dụng xã trong chương trình
				SupRSWS</div>
		</div>
	</div>

</div>