
<td>Tổng</td>
<td><span class="sum-row" tongi-bind="text:tong_xa"></span></td>
<td class="chuongtrinhsup"><span class="sum-row" tongi-bind="text:nhatieu_caithien"></span></td>
<td class="chuongtrinhsup"><span class="sum-row" tongi-bind="text:diemruatay"></span></td>
<td><span class="sum-row" tongi-bind="text:truonghoc_hopvesinh"></span></td>
<td><span class="sum-row" tongi-bind="text:tong_hocsinh"></span></td>
<td><span class="sum-row" tongi-bind="text:tramyte_hopvesinh"></span></td>
<td><span class="sum-row" tongi-bind="text:tong_hogiadinh"></span></td>
<td><span class="sum-row" tongi-bind="text:tong_danso"></span></td>
<td><span class="sum-row" tongi-bind="text:tong_hoconulachu"></span></td>
<td><span class="sum-row" tongi-bind="text:tong_dtts"></span></td>
